<a href="https://colab.research.google.com/github/AzadMehedi/Statistics/blob/main/Basic_Statistics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Import Dependencies

In [12]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

# Read the dataset

In [3]:
url = 'https://raw.githubusercontent.com/FazlyRabbiBD/StatisticsBasic/master/GPA.csv'
df = pd.read_csv(url)
df

     Name  StudyTime  GamingHour   GPA
0   Monir        4.0         0.5  3.55
1    Jony        2.5         1.0  2.35
2   Gopal        3.0         0.5  3.07
3   Habib        6.0         0.0  3.93
4    Kona        5.0         0.5  3.97
5   Bablu        1.0         3.0  2.43
6    Sara        3.5         0.0  3.61
7   Javed        4.0         0.5  3.67
8   Hasib        2.0         1.0  2.97
9  Hridoy        1.5         2.0  2.81

# `count` function
-  Pandas dataframe.count() is used to count the no. of non-NA/null observations across the given axis.

In [4]:
df.count()

Name          10
StudyTime     10
GamingHour    10
GPA           10
dtype: int64

# `sum` function
- add all the value of the column

In [5]:
df['StudyTime'].sum()
# df.StudyTime.sum()

32.5

In [6]:
df.StudyTime.sum()

32.5

# `cumsum` - cumulative sum function
-  Pandas dataframe.cumsum() is used to find the cumulative sum value over any axis.

In [7]:
df['GamingHour'].cumsum()

0    0.5
1    1.5
2    2.0
3    2.0
4    2.5
5    5.5
6    5.5
7    6.0
8    7.0
9    9.0
Name: GamingHour, dtype: float64

# `mean` function
- The mean is the mathematical average of a set of two or more numbers.

In [13]:
df.mean()

StudyTime     3.250
GamingHour    0.900
GPA           3.236
dtype: float64

# `median` function
-  the median is defined as the middle value of a sorted list of numbers.

In [14]:
df.median()

StudyTime     3.25
GamingHour    0.50
GPA           3.31
dtype: float64

# `mode` function
- The mode is the value that appears most frequently in a data set.

In [15]:
df.mode()

     Name  StudyTime  GamingHour   GPA
0   Bablu        4.0         0.5  2.35
1   Gopal        NaN         NaN  2.43
2   Habib        NaN         NaN  2.81
3   Hasib        NaN         NaN  2.97
4  Hridoy        NaN         NaN  3.07
5   Javed        NaN         NaN  3.55
6    Jony        NaN         NaN  3.61
7    Kona        NaN         NaN  3.67
8   Monir        NaN         NaN  3.93
9    Sara        NaN         NaN  3.97

# `max` function

In [16]:
df.max()

Name          Sara
StudyTime      6.0
GamingHour     3.0
GPA           3.97
dtype: object

# `min` function

In [17]:
df.min()

Name          Bablu
StudyTime       1.0
GamingHour      0.0
GPA            2.35
dtype: object

# calculating range

In [20]:
range = df[['StudyTime','GamingHour','GPA']].max()-df[['StudyTime','GamingHour','GPA']].min()
range

StudyTime     5.00
GamingHour    3.00
GPA           1.62
dtype: float64

# `var` function (variange)
- Variance is a measure of how data points differ from the mean.

In [21]:
df.var()

StudyTime     2.458333
GamingHour    0.877778
GPA           0.351293
dtype: float64

# `std` function  (standard deviation)
- Standard Deviation is a measure which shows how much variation (such as spread, dispersion, spread,) from the mean exists.

In [22]:
df.std()

StudyTime     1.567907
GamingHour    0.936898
GPA           0.592700
dtype: float64

# `cov` function (covariance)
- Covariance is a statistical tool used to determine the relationship between the movements of two random variables.

In [23]:
df.cov()

            StudyTime  GamingHour       GPA
StudyTime    2.458333   -1.194444  0.827222
GamingHour  -1.194444    0.877778 -0.418222
GPA          0.827222   -0.418222  0.351293

# `corr` function (correlation)
- Correlation refers to a process for establishing the relationships between two variables.

In [24]:
df.corr()

            StudyTime  GamingHour       GPA
StudyTime    1.000000   -0.813117  0.890157
GamingHour  -0.813117    1.000000 -0.753147
GPA          0.890157   -0.753147  1.000000

# `skew` function (skewness)
- Skewness is a measure of the asymmetry of a distribution.

In [25]:
df.skew()

StudyTime     0.283764
GamingHour    1.499697
GPA          -0.283563
dtype: float64

# `kurtosis` function 
- Kurtosis is a measure of the tailedness of a distribution.

In [28]:
df.kurtosis()

StudyTime    -0.548118
GamingHour    1.985173
GPA          -1.396490
dtype: float64

# `quantile` function 
- Quantiles are values that split sorted data or a probability distribution into equal parts.

In [30]:
df.quantile(0.25)

StudyTime     2.125
GamingHour    0.500
GPA           2.850
Name: 0.25, dtype: float64

# interquartile (iqr)
- The interquartile range is the difference between the third and first quartiles.

In [31]:
iqr = df.quantile(0.75)-df.quantile(0.25)
iqr

StudyTime     1.875
GamingHour    0.500
GPA           0.805
dtype: float64

# `describe` function
- The describe() method is used for calculating some statistical data like percentile, mean and std of the numerical values of the Series or DataFrame.

In [32]:
df.describe()

       StudyTime  GamingHour      GPA
count  10.000000   10.000000  10.0000
mean    3.250000    0.900000   3.2360
std     1.567907    0.936898   0.5927
min     1.000000    0.000000   2.3500
25%     2.125000    0.500000   2.8500
50%     3.250000    0.500000   3.3100
75%     4.000000    1.000000   3.6550
max     6.000000    3.000000   3.9700

In [34]:
df.describe(include='all')

         Name  StudyTime  GamingHour      GPA
count      10  10.000000   10.000000  10.0000
unique     10        NaN         NaN      NaN
top     Monir        NaN         NaN      NaN
freq        1        NaN         NaN      NaN
mean      NaN   3.250000    0.900000   3.2360
std       NaN   1.567907    0.936898   0.5927
min       NaN   1.000000    0.000000   2.3500
25%       NaN   2.125000    0.500000   2.8500
50%       NaN   3.250000    0.500000   3.3100
75%       NaN   4.000000    1.000000   3.6550
max       NaN   6.000000    3.000000   3.9700